:root {
    --primary-red: #e10630;
    --primary-yellow: #f8ce61;
    --primary-black: #151216;
    --primary-white: #fbf9fb;
}

body {
    background-color: var(--primary-red);
}

#grid {
    display: grid;
    height: 500px;
    width: 500px;
    border: 7px solid var(--primary-yellow);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
    font-family: 'Lobster', cursive;
    color: var(--primary-yellow);
    font-size: 3.5em;
    text-align: center;
}

footer {
    color: var(--primary-yellow);
    font-family: 'Lobster', cursive;
}

.modal {
    position: relative;
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(32, 32, 32, 0.9);
}

.modal h2 {
    color: white;
    text-align: center;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s; 
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
}